<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>{{ titulo }}</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Categoría</th>
                <th>Almacén</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.cantidad }}</td>
                <td>{{ producto.categoria.nombre }}</td>
                <td>{{ producto.almacen.nombre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Registrar Movimiento</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar Movimiento</button>
    </form>
    <p><a href="{% url 'historial_movimientos' %}">Ver historial de movimientos</a></p>
</body>
</html>